<section class="focus sans-serif">
  <div class="focus__title">
    <h2 class="green no_margin ttu">{{ page.focus.title }}</h2>
    {{ page.focus.intro | markdownify }}
  </div>
  <div class="focus__items">
    {% for el in page.focus.items %}
    <div class="focus__items_frame">
      <div class="focus__item bg_dark br white">
        {% unless el.active %}
        <div class="coming_soon">
          {% include svg/coming_soon.svg %}
        </div>
        {% endunless %}
        <p>{{ el.title }}</p>
      </div>
      <div class="focus_list">
        {% for item in el.info %}
        <div class="focus_list__item br bg_dark white">
          <p>{{ item }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>