<footer {% if page.layout == 'static' %}class="static_footer"{% endif %}>

  {% if page.footer.size > 0 %}
  <div class="amendment sans-serif">
    {% for el in page.footer %}
    <p>{{ el }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="footer__inner">

    <div class="footer__left sans-serif">
      <h2>Plug & Play Office Stuttgart&nbsp;&bull;&nbsp;</h2>
      <p class="position" style="font-size: 13px; margin: 0; margin-bottom: 5px; display: inline-block; padding: 0;">Germany</p>
      <p><b>German Office</b> Pfaffenwaldring 19 — 70569 Stuttgart</p>
      <p><b>Plug & Play Germany GmbH</b> | Managing Director: Sascha Karimpour | Registered No.: AG Stuttgart: HRB 769582</p>
      <p><b>US HQ</b> 440 N Wolfe Rd, Sunnyvale, CA 94085</p>
    </div>

    <div class="footer__right">
      <div>
        <ul class="sans-serif">
          <li class="sm_title b">Social Media Channels |</li>
          {% for el in site.data.navigation.social %}
          <li><a href="{{ el.url }}"><i class="
          {{ el.icon }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>

      <div>
        <ul class="sans-serif">
          {% for el in site.data.navigation.footer %}
            <li><a {% if forloop.index == 1 %}class="b"{% endif %} href="{{ el.url }}">{{ el.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</footer>
