<section class="timeline">
  <div class="pnp-timeline__btn sans-serif">
    {% for timeline_element in page.timeline %}
    <p class="b ttu{% if forloop.first %} active{% endif %}" data-trigger="{{ forloop.index }}">{{ timeline_element.title }}</p>
    {% endfor %}
  </div>
  <div class="pnp-timeline__frame">

    {% for timeline_element in page.timeline %}
    <div class="pnp-timeline" id="timeline_{{ forloop.index }}">

      <div class="pnp-timeline-acknowledgement br sans-serif">
        <h3 class="ttu no_margin white">Acknowledgement</h3>
        <p class="white">This is an exemplary schedule.<br>Based on your skills, availability and current projects you will be involved we will adjust the timeline accordingly.</p>
      </div>

      {% for el in timeline_element.blocks %}
      <div class="pnp-timeline__block">
        <div class="pnp-timeline__img">

        </div>
        <div class="pnp-timeline__content br sans-serif">
          <h3 class="ttu no_margin">{{ el.title }}</h3>
          {% if el.icon == 'daimler' %}
            {% include svg/daimler_pri_wht_rgb.svg %}
          {% endif %}
          <p>{{ el.content | markdownify }}</p>
          <span class="pnp-timeline__date br ttu">{{ el.date }}</span>
        </div>
      </div>
      {% endfor %}

    </div>
    {% endfor %}
  </div>
</section>
