---
layout: default
---

<section class="four_o_four">
  <div class="four_o_four__top white">
    <p class="courier ttu b error">error 404</p>
    <p class="sans-serif">
      Woooops! Looks like there appeared an issue while trying to find the content you were looking for.
      </br>Don't worry that is most surely not your fault — however we would highly encurage you to go back to the site where you started off — or in case you are a lover of minimal design stay and enjoy the purity of this (mostly) black website.
    </p>
  </div>
  {% include footer.html %}
</section>
